@import url('https://fonts.googleapis.com/css2?family=Manrope:display=swap');

/* ------------- *
 *   CSS RESET   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* --------- *
 *   GLOBAL  *
 * --------- */
:root {
    /* Background colors */
    --primary-bg-col: hsl(217, 19%, 24%);
    --secondary-bg-col: hsl(217, 19%, 38%);
    --tertiary-bg-col: hsl(218, 23%, 16%);
    /* Other colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
}

* {
    font-family: 'Manrope', sans-serif;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
html {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--tertiary-bg-col);
}

p {
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
}

.advice-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 29rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--primary-bg-col);
}

.advice-container h3 {
    letter-spacing: 0.15rem;
    color: var(--neon-green);
}

.advice-container .button {
    display: flex;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: var(--neon-green);
}

.button img {
    max-width: 4rem;
    padding: 1rem;
}

.advice-container > img {
    margin-bottom: 1.5rem;
    width: 100%;
}

.quote {
    color: var(--light-cyan);
    font-size: 2rem;
}