@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */
    --dark-purple-blue: rgba(19, 15, 42, 0.994);
    --darker-purple-blue: rgb(20, 14, 47);
    --light-purple-blue: rgb(77, 60, 145);
    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

.flex.justify-space-between {
    justify-content: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
h1 {
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Source Code Pro', monospace;
}

body {
    display: grid;
    place-items: center;
    color: var(--white-col);
    background-color: var(--dark-purple-blue);
}

input[type="number"] {
    padding-left: 1.25rem;
    height: 3rem;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
}

label {
    margin-bottom: 0.5rem;
    color: gray;
    font-size: 1.25rem;
    font-weight: bolder;
    display: block;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1.time {
    font-size: 8rem;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
}

.selection-container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-radius: 4rem;
    box-shadow: inset 0 0 0.3rem var(--light-purple-blue);
}

.selection {
    min-width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    color: rgb(153, 157, 157);
}

.selection.active {
    color: var(--dark-purple-blue);
    background-color: rgb(255, 102, 102);
}

.outer-timer-container {
    display: grid;
    place-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    color: white;
    border: 0.5rem solid rgb(49, 21, 93);
    box-shadow: -2rem -2rem 10rem var(--light-purple-blue), 3rem 3rem 4rem var(--darker-purple-blue);
    background: linear-gradient(0.40turn, var(--darker-purple-blue) 30%, var(--light-purple-blue));
}

.inner-timer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 26rem;
    min-height: 26rem;
    border-radius: 50%;
    background-color: var(--darker-purple-blue);
}

.progress-ring {
    position: absolute;
}

p.time {
    font-size: 1.75rem;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
    font-weight: 300;
    font-family: 'Source Code Pro', monospace;
}

.progress-ring__circle {
    --progress: 10;
    fill: transparent;
    stroke: #2196F3;
    stroke-width: 5;
    stroke-dasharray: 422;
    stroke-linecap: round;
    stroke-dashoffset: calc(422 - (422 * var(--progress) / 100));
    transform: rotate(-90deg);
    transform-origin: center;
}

.settings {
    user-select: none;
    cursor: pointer;
    font-size: 3rem;
    color: rgb(103, 103, 178);
    transition: 0.25s;
}

.settings:hover {
    opacity: 0.5;
}

.settings:active {
    transform: scale(1.4);
}

.settings-modal-container {
    position: absolute;
    width: clamp(20rem, 100%, 40rem);
    height: clamp(20rem, 100%, 40rem);
}
 
.settings-modal {
    position: relative;
    display: block;
    color: black;
    height: 100%;
    border-radius: 2rem;
    background-color: var(--white-col);
    padding: 3rem;
}

.settings-modal > h1 {
    margin-bottom: 2rem;
    font-size: clamp(2rem, 4.5vw, 2.75rem);
}

.options {
    margin-top: 2rem;
}

.options > h2 {
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
}

.option-group {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    width: 100%;
}

.button-wrapper > button {
    min-height: 5rem;
    min-width: 13rem;
    border-radius: 3rem;
    border: none;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    color: var(--white-col);
    background-color: rgb(255, 102, 102);
    transition: 0.2s;
}

.button-wrapper > button:hover {
    cursor: pointer;
    background-color: rgb(246, 132, 132);
}

.button-wrapper > button:active {
    transform: scale(.9);
}