@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-blue: hsl(223, 87%, 63%);
    --secondary-pale-blue: hsl(223, 100%, 88%);
    --secondary-light-red: hsl(354, 100%, 66%);
    /* other colors */
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

.gap-med {
    gap: 2rem;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    font-size: 2rem;
    padding: 3rem;
}

h1 {
    color: var(--gray);
    font-weight: 300;
    font-size: clamp(2.5rem, 4.5vw, 4.25rem);
}

h1 span {
    font-weight: 700;
    color: black;
}

p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray);
}

input[type="email"] {
    min-height: 4rem;
    width: clamp(15rem, 100%, 40rem);
    border-radius: 3rem;
    padding-left: 2rem;
    border: 1px solid var(--gray);
}

input[type="button"] {
    min-height: 4rem;
    width: clamp(5rem, 100%, 15rem);
    border-radius: 3rem;
    font-weight: 600;
    color: var(--white-col);
    background-color: var(--primary-blue);
    box-shadow: 0 1rem 1.5rem var(--secondary-pale-blue);
}

input[type="button"]:hover {
    cursor: pointer;
    opacity: 0.5;
}

.header {
    margin: 0 auto 2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image {
    flex: 1;
    margin: 3rem 0;
    background-image: url(../images/illustration-dashboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 480px) {

    input {
        width: 100% !important;
    }

    .image {
        margin: 0;
    }

    .notify div {
        flex-direction: column;
    }
}