@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-blue-col: hsl(225, 100%, 94%);
    --secondary-bright-blue: hsl(245, 75%, 52%);

    /* other colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: grid;
    place-items: center;
    background: var(--primary-blue-col) url(../images/pattern-background-desktop.svg) no-repeat;
    background-position: top;
    background-size: cover 50%;
}

button {
    cursor: pointer;
    width: 100%;
    min-height: 4rem;
    border: none;
    border-radius: 1rem;
}

button.primary {
    color: var(--very-pale-blue);
    background-color: var(--secondary-bright-blue);
}

button.primary:hover {
    opacity: 0.7;
}

button.secondary {
    color: var(--desaturated-blue);
    background-color: rgba(255, 255, 255, 0);
}

button.secondary:hover {
    font-weight: 900;
    color: var(--dark-blue);
}

p {
    font-size: 1.6rem;
    color: var(--desaturated-blue);
}

p.plan {
    font-weight: 700;
    color: var(--dark-blue);
}

h1 {
    font-size: 2.7rem;
}

.order-summary-container {
    overflow: hidden;
    height: clamp(40rem, 100%, 60rem);
    width: clamp(20rem, 100%, 40rem);
    border-radius: 1rem;
    background-color: var(--white-col);
}

.order-summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.order-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-plan {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--very-pale-blue);
}

.placeholder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.placeholder a {
    font-size: 1.25rem;
}
