@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* background gradients */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --dark-grey-blue: hsl(224, 30%, 27%);
    --light-lavender: hsl(241, 100%, 89%);
    --pale-blue: hsl(221, 100%, 96%);
    /* types */
    --primary-reaction-col: hsl(0, 100%, 67%);
    --primary-memory-col: hsl(39, 100%, 56%);
    --primary-verbal-col: hsl(166, 100%, 37%);
    --primary-visual-col: hsl(234, 85%, 45%);
    --primary-reaction-col-light: rgba(255, 87, 87, 0.1);
    --primary-memory-col-light: hsla(39, 100%, 56%, 0.1);
    --primary-verbal-col-light: hsla(166, 100%, 37%, 0.1);
    --primary-visual-col-light: hsla(234, 85%, 45%, 0.1);

    --primary-font-col: white;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

/* ------------- *
 *    UTILITY    *
 * ------------- */
.height-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.lavender-font-col {
    color: var(--light-lavender);
}

.dark-grey-blue-col {
    color: var(--dark-grey-blue);
}

.gap-small {
    gap: 2rem;
}

.gap-xsmall {
    gap: 0.5rem;
}

h1 {
    color: white;
    font-weight: 700;
}

h2, p {
    font-weight: 500;
}

h4 {
    font-weight: normal;
}

p {
    overflow-wrap: break-word;
    font-size: 18px;
    color: var(--light-lavender);
}

button {
    min-height: 3rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    background: var(--dark-grey-blue);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

img {
    height: 100%;
}

.result-card {
    display: flex;
    max-width: 40rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.05), 0 -1px 1.5rem rgba(0, 0, 0, 0.08);
}

.average, .summary {
    width: 100%;
    max-width: 50%;
}

.average {
    border-radius: 1.5rem;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue))
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.score {
    display: grid;
    place-items: center;
    height: 10rem;
    width: 10rem;
    background: linear-gradient(var(--light-royal-blue), var(--light-slate-blue));
    border-radius: 50%;
}

.score > div > h1 {
    font-size: 4rem;
}

.summary-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
    transition: 0.3s;
}

.summary-slot > div > * {
    display: inline-block;
}

.summary-slot:hover {
    transform: scale(1.1);
}

.reaction {
    color: var(--primary-reaction-col);
    background-color: var(--primary-reaction-col-light);
}

.memory {
    color: var(--primary-memory-col);
    background-color: var(--primary-memory-col-light);
}

.verbal {
    color: var(--primary-verbal-col);
    background-color: var(--primary-verbal-col-light);
}

.visual {
    color: var(--primary-visual-col);
    background-color: var(--primary-visual-col-light);
}

@media (max-width: 480px) {

    .result-card {
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .average, .summary {
        max-width: 100%;
    }

    .average {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .summary > div {
        gap: 1rem;
    }
}