/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* gradients */
    --red-gradient: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --blue-gradient: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    /* cta colors */
    --light-red-cta: hsl(356, 100%, 66%);
    --very-light-red-cta: hsl(355, 100%, 74%);
    --very-dark-blue-cta: hsl(208, 49%, 24%);
    /* other colors */
    --white-col: white;
    /* font */
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
h1 {
    color: var(--white-col);
    font-size: clamp(2rem, 3rem, 4rem);
    line-height: 0;
}

h2 {
    color: var(--white-col);
}

header {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
    height: clamp(20rem, 100%, 40rem);
    border-bottom-left-radius: 8rem;
    background: url(../images/bg-pattern-intro-desktop.svg) no-repeat left 25% center, var(--red-gradient);
    background-size: 225%, 100%;
}   

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: clamp(10rem, 100%, 78%);
}

p {
    font-size: 1.6rem;
    opacity: 0.65;
    color: var(--white-col);
}

button {
    min-height: 3.75rem;
    max-width: 12rem;
    width: 100%;
    border: none;
    border-radius: 3rem;
}

button.primary {
    color: var(--white-col);

}

.button-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: clamp(4rem, 100%, 24rem);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-items > img {
    margin-right: 3.5rem;
}

.nav-item {
    opacity: 0.65;
}

.nav-item > h2::after {
    content: url(../images/icon-arrow-light.svg);
    margin-left: 0.5rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}