@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-orange-col: hsl(35, 77%, 62%);
    --secondary-red-col: hsl(5, 85%, 63%);
    /* other colors */
    --white-col: white;
    --off-white-col: hsl(36, 100%, 99%);
    --grayish-blue-col: hsl(233, 8%, 79%);
    --dark-grayish-blue-col: hsl(236, 13%, 42%);
    --very-dark-blue-col: hsl(240, 100%, 5%);
    /* fonts */
    --font-weight-small: 400;
    --font-weight-med: 700;
    --font-weight-large: 800;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

.flex.justify-space-between {
    justify-content: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

.grid.place-center {
    place-items: center;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

.gap-small:is(.flex, .grid) {
    gap: 2rem;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 6rem;
    font-family: initial;
}

header {
    padding: 2rem 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: clamp(30rem, 100%, 85%);
    height: clamp(30rem, 100%, 80%);
}

.nav-link {
    color: var(--dark-grayish-blue-col);
    text-decoration: none;
    font-weight: var(--font-weight-small);
    font-size: clamp(1rem, 2.5vw, 1.8rem);
}

.nav-link:hover {
    color: var(--secondary-red-col);
}