@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* gradient colors */
    --primary-gradient-right: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --primary-gradient-bottom: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    /* other colors */
    --grayish-blue: hsl(233, 13%, 49%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --white-col: white;
    /* font */
    --primary-font-family: 'Montserrat', sans-serif;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.hidden {
    display: none;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: var(--primary-font-family);
}

body {
    display: grid;
    place-items: center;
    background-image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat;
}

p {
    font-size: 1.5rem;
}

h1 {
    color: var(--dark-grayish-blue);
    font-size: 3rem;
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(167, 157, 157), rgba(0, 0, 0, 0));
}

div:is(.switch) {
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    background: var(--primary-gradient-bottom)
}

div:is(.switch) > label > .ball {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white-col);
    transform: scale(0.8);
    transition: 0.25s;
}

div:is(.switch) > label > input[type="checkbox"] {
    display: none;
}

div:is(.switch) > label > input[type="checkbox"]:checked + .ball {
    transform: translateX(100%) scale(0.8);
}

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    width: 100%;
}

.pricing-plans {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 44rem;
    height: 100%;
    width: 100%;
}

.pricing-toggle {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-height: 40rem;
    height: 100%;
    width: 100%;
}

.plan-container:not(.active) > .plan {
    background-color: var(--white-col);
}

.pricing-plans > .plan-container:first-child .plan {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow:  0 0.75rem 3rem 0.5rem rgba(0, 0, 0, 0.189);
}

.pricing-plans > .plan-container:last-child .plan {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow:  0 0.75rem 3rem 0.5rem rgba(0, 0, 0, 0.189);
}

.plan > button {
    width: 100%;
    min-height: 3.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--white-col);
    background: var(--primary-gradient-right);
}

.active.plan-container > .plan > button {
    color: var(--grayish-blue);
    background: var(--white-col);
}

.active.plan-container > .plan > button:hover {
    color: var(--white-col);
    border: 1px solid;
    background: rgba(255, 255, 255, 0);
}

button:hover {
    cursor: pointer;
    color: var(--dark-grayish-blue);
    border: 1px solid;
    background: rgba(255, 255, 255, 0);
}

button {
    transition: 0.25s;
}

.ball:hover {
    cursor: pointer;
}

.plan-header > h2 {
    margin-bottom: 2rem;
}

.large-price {
    font-size: 5rem;
}

.plan-container {
    display: grid;
    place-items: center;
    max-width: 30rem;
    height: 100%;
    width: 100%;
}

.active.plan-container {

    border-radius: 1rem;
    color: var(--white-col);
    background: var(--primary-gradient-bottom);
}

.active > hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}