@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --primary-dark-blue: hsl(198, 62%, 26%);
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%);
    /* other colors */
    --white-col: white;
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
}

.holder {
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

.flex.justify-space-between {
    justify-content: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

.gap-med:is(.flex, .grid) {
    gap: 3rem;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
body {
    display: flex;
    flex-direction: column;
    font-family: "Fraunces",sans-serif;
}

button {
    width: 15rem;
    min-height: 6rem;
    border-radius: 4rem;
    font-size: 1.65rem;
    font-family: 'Fraunces', serif;
}

p {
    font-family: 'Barlow', sans-serif;
}

button:hover {
    color: var(--white-col);
    background-color: rgba(255, 255, 255, 0.3);
}

a.nav-item {
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
}

h1.hero {
    margin-top: 12rem;
    color: var(--white-col);
    font-weight: 900;
    font-size: clamp(2rem, 4.5vw, 8rem);
    font-family: 'Fraunces', serif;
}

strong.name {
    font-size: 1.8rem;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.7rem;
    font-family: 'Barlow', sans-serif;
}

.header.background {
    background-size: cover;
    background-position: center;
    background-image: url(../images/desktop/image-header.jpg);
}

.header-arrow {
    max-width: 4rem;
    margin-top: 6rem;
    align-self: center;
    animation: arrow infinite 1.75s;
}

.description {
    display: flex;
    align-items: center;
}

.description > * {
    width: 50%;
}

.testimonials-container {
    margin: 10rem 0;
}

.testimonials-container > h1 {
    margin-bottom: 8rem;
    color: var(--grayish-blue);
    font-size: clamp(3rem, 4.5vw, 4.5rem);
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-around;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 34rem;
}

.testimonial p {
    text-align: center;
    font-size: 1.7rem;
    color: var(--very-dark-grayish-blue);
}

.testimonial p:is(.title) {
    color: var(--grayish-blue);
}

.testimonial p:not(.title) {
    margin: 2rem 0;
    line-height: 1.4;
}

.testimonial .portrait {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.images > * {
    width: 25%;
}

@keyframes arrow {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

}