@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --light-red-work: hsl(15, 100%, 70%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);
    --soft-blue: hsl(195, 74%, 62%);
    /* other colors */
    --white-col: white;
    --dark-blue: hsl(235, 46%, 20%);
    --pale-blue: hsl(236, 100%, 87%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --very-dark-blue: hsl(226, 41%, 10%);
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.bg-col-light-red-work {
    background-color: var(--light-red-work) !important;
}

.bg-col-light-red-study {
    background-color: var(--light-red-study) !important;
}

.bg-col-lime-green {
    background-color: var(--lime-green) !important;
}

.bg-col-soft-blue {
    background-color: var(--soft-blue) !important;
}

.bg-col-soft-orange {
    background-color: var(--soft-orange) !important;
}

.bg-col-violet {
    background-color: var(--violet) !important;
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

.gap-med {
    gap: 3rem;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
body {
    display: grid;
    place-items: center;
    font-family: 'Rubik', sans-serif;
    color: var(--white-col);
    background-color: var(--very-dark-blue);
}

p {
    font-size: 1.2rem;
}

.avatar {
    max-width: 7rem;
    border: 2px solid;
    border-radius: 50%;
}

.dashboard-container {
    height: 45rem;
    display: grid;
    gap: 2.5rem;
    grid-template: repeat(2, auto) / repeat(4, auto);
}

.dashboard-profile-card {
    grid-row: span 2;
    min-height: 40rem;
}

.profile, .timeframe {
    padding: 2.5rem;
}

.profile {
    height: 70%;
    border-radius: 1rem;
    background-color: rgb(110, 39, 242);
}

.dots {
    user-select: none;
    letter-spacing: 0.4rem !important;
    transition: 0.25s;
}

.dots:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.info-stats h1 {
    font-size: 4.5rem;
    font-weight: 300;
}

.timeframe {
    height: 30%;
    color: var(--desaturated-blue);
}

.option {
    user-select: none;
    transition: 0.25s;
}

.option:hover {
    cursor: pointer;
    color: var(--white-col);
    transform: scale(1.1);
}

.option:active {
    transform: scale(0.95);
}

.profile > section > h1 {
    font-weight: 300;
    font-size: 3rem;
}

.dashboard-card {
    width: 20rem;
    border-radius: 1rem;
    background-color: var(--dark-blue);
}

.dashboard-card-tab {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 20%;
    overflow: hidden;
}

.dashboard-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    background-color: var(--dark-blue);
}

.info-menu > p {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

.tab-image {
    width: 6rem;
    right: 1.5rem;
    top: -8px;
    position: absolute;
}

@media (max-width: 480px) {

    body {
        padding: 2rem;
    }

    .dashboard-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dashboard-card {
        width: 100%;
        height: 20rem;
    }

    .info-stats {
        display: grid;
        place-items: center;
    }

    .profile > section > h1 {
        font-weight: 300;
        font-size: 4rem;
    }

}