@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --light-red-work: hsl(15, 100%, 70%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);
    --soft-blue: hsl(195, 74%, 62%);
    /* other colors */
    --white-col: white;
    --dark-blue: hsl(235, 46%, 20%);
    --pale-blue: hsl(236, 100%, 87%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --very-dark-blue: hsl(226, 43%, 10%);
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
body {
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    background-color: var(--very-dark-blue);
}

.dashboard-container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, auto);
}

.dashboard-profile {
    
}

.dashboard-card {

}