@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-col: hsl(25, 97%, 53%);
    --white-col: white;
    /* other colors */
    --dark-blue: hsl(213, 19%, 18%);
    --vary-dark-blue: hsl(216, 12%, 8%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    /* font */
    --primary-font-family: 'Overpass', sans-serif;
    --font-mid-weight: 400;
    --font-large-weight: 700;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
p {
    font-size: 1.5rem;
}