@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-col: hsl(25, 97%, 53%);
    --white-col: white;
    /* other colors */
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --medium-grey-opaque: hsl(216, 12%, 54%, 0.2);
    /* font */
    --primary-font-family: 'Overpass', sans-serif;
    --font-mid-weight: 400;
    --font-large-weight: 700;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.hidden {
    display: none !important;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
body {
    display: grid;
    place-items: center;
    background-color: var(--very-dark-blue);
}

h1 {
    margin-bottom: 0.5rem;

    color: var(--white-col);
    font-size: 2rem;
    font-weight: var(--font-med-weight);
    font-family: var(--primary-font-family);
}

p {
    color: var(--medium-grey);
    line-height: 1.75;
    font-size: 1.1rem;
    font-family: var(--primary-font-family);
    font-weight: var(--font-large-weight);
}

.submit-rating-button {
    height: 3.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    color: var(--white-col);
    background-color: var(--primary-col);
    transition: 0.25s;
}

.submit-rating-button:hover {
    cursor: pointer;
    color: var(--primary-col);
    background-color: var(--white-col);
}

.circle-content {
    display: grid;
    place-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--white-col);
    background-color: var(--medium-grey-opaque);
    transition: 0.4s;
}

.circle-content.active {
    background-color: var(--light-grey);
}

.circle-content:not(.star, .active):hover {
    cursor: pointer;
    background-color: var(--primary-col);
}

.feedback-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 25rem;
}

.rating-container {
    padding: 2.5rem;
    border-radius: 2rem;
    background-color: var(--dark-blue);
}

.rating-thanks {
    align-items: center;
}

.rating-thanks > img {
    max-width: 10rem;
}

.rating-thanks > div > p {
    font-weight: var(--font-med-weight);
}

.rating-selection {
    display: flex;
    justify-content: space-between;
}

.selected {
    border-radius: 2rem;
    background-color: var(--medium-grey-opaque);
}

.selected p {
    color: var(--primary-col);
    margin: 0 1rem;
    line-height: 2.4;
}

@media (max-width: 480px) {

    p {
        font-size: 1.4rem;
    }

    .circle-content {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
    }

    .submit-rating-button {
        border-radius: 3rem;
        height: 5rem;
    }

    .feedback-container {
        max-width: 30rem;
    }
}