@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* main colors */
    --primary-strong-cyan: hsl(172, 67%, 45%);
    --primary-strong-cyan-light: hsl(172, 49%, 69%);
    /* other colors */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(180, 71%, 93%);
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--light-grayish-cyan);
}

button {
    cursor: pointer;
    min-height: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
}

h3 {
    font-size: 1.7rem;
    color: var(--very-light-grayish-cyan);
}

header {
    padding: 3rem;
}

input {
    width: 100%;
    outline: none;
    font-size: 2.4rem;
    border-radius: 0.5rem;
}

input:focus {
    box-shadow: 0 0 0 2px var(--primary-strong-cyan);
}

input[type="text"]:not(.custom) {
    padding-right: 1.5rem;
    text-align: right;
    background-color: var(--very-light-grayish-cyan);
}

input#bill {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem center;
}

input#people {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.button-container :is(button, div > input) {
    flex-basis: calc((100% - 3rem) / 3);
}

.button-container button:not(:last-child) {
    color: var(--primary-strong-cyan-light);
    background-color: var(--very-dark-cyan);
}

.button-container button:hover {
    color: var(--very-dark-cyan);
    background-color: var(--primary-strong-cyan-light)
}

.content-container {
    /* container vars */
    --spacing: 3rem;
    
    gap: var(--gap-spacing);
}

.tip-calculator-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    padding: var(--spacing);
    width: clamp(20rem, 100%, 80rem);
    height: clamp(10rem, 100%, 40rem);
    border-radius: 2rem;
    background-color: var(--white-col);
}

.tip-calculator-container :is(div) {
    flex: 1;
    flex-basis: 0;
}

.tip-calc-results {
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--very-dark-cyan);
}

.tip-calc-results > button {
    background-color: var(--primary-strong-cyan);
}

.tip-calc-results > button:hover {
    background-color: var(--primary-strong-cyan-light);
}

.info {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.info :is(h1) {
    font-size: 3.5rem;
    color: var(--primary-strong-cyan);
}

.per-person {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark-grayish-cyan);
}

label#people-label {
    display: inline-block;
}

label#people-error-label {
    display: none;
    color: red;
}


@media (max-width: 480px) {

    button {
        font-size: 2.5rem;
        min-height: 5rem;
    }

    .content-container {
        justify-content: flex-start !important;
    }

    .button-container :is(button, div > input) {
        flex-basis: calc((100% - 1.5rem) / 2);
    }

    .tip-calculator-container {
        height: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .bill-info {
        min-height: 45rem;
    }

    .tip-calc-wrapper {
        min-height: 30rem;
    }
}