@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* gradients */
    --red-gradient: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --blue-gradient: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    /* cta colors */
    --light-red-cta: hsl(356, 100%, 66%);
    --very-light-red-cta: hsl(355, 100%, 74%);
    --very-dark-blue-cta: hsl(208, 49%, 24%);
    /* other colors */
    --white-col: white;
    /* font */
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
* {
    font-family: 'Overpass', sans-serif;
}

body {
    background: var(--blue-gradient);
}

h1 {
    color: var(--white-col);
    font-size: clamp(3rem, 4.5vw, 5rem);
    line-height: 1;
}

h1.primary {
    font-size: 3rem;
    color: var(--very-dark-blue-cta);
}

h2 {
    color: var(--white-col);
}

h2.primary {
    font-size: 2rem;
    color: var(--very-dark-blue-cta);
}

header {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
    height: clamp(20rem, 100%, 50rem);
    border-bottom-left-radius: 8rem;
    background: url(../images/bg-pattern-intro-desktop.svg) no-repeat left 25% center, var(--red-gradient);
    background-size: 225%, 100%;
}

main {
    display: grid;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: clamp(10rem, 100%, 78%);
}

nav > img {
    margin-right: 4rem;
}

p {
    font-size: 1.6rem;
    opacity: 0.65;
    color: var(--white-col);
}

p.secondary {
    color: var(--very-dark-black-blue);
}

section {
    height: auto;
}

button {
    cursor: pointer;
    min-height: 3.75rem;
    max-width: 12rem;
    width: 100%;
    border: none;
    border-radius: 3rem;
    transition: 0.25s;
}

button.primary, button.secondary:hover {
    color: var(--light-red-cta);
    opacity: 1;
    background-color: var(--white-col);
}

button.secondary, button.primary:hover {
    opacity: 0.95;
    color: var(--white-col);
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0);
}

.button-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: clamp(4rem, 100%, 24rem);
}

.nav-items-container-desktop {
    display: flex;
    width: 100%;
}

.nav-items-container-mobile {
    display: none;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.nav-items > img {
    margin-right: 3.5rem;
}

.nav-item {
    opacity: 0.65;
}

.nav-item > h2::after {
    content: url(../images/icon-arrow-light.svg);
    margin-left: 0.5rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


@media (max-width: 740px) {

    .nav-items-container-mobile.active {
        display: flex;
    }

    header {
        grid-template-rows: auto;
        height: auto;
    }

    .hamburger {
        display: flex;
        align-items: center;
    }

    .nav-items-container-desktop {
        display: none;
    }

    .nav-items-container-mobile {
        margin-top: 2.75rem;
        display: hidden;
        align-items: center;
        background: var(--blue-gradient);
        width: 100%;
        padding: 2rem;
    }

    .nav-items {
        flex-direction: column;
    }

    .intro {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}